<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AuthFilter</filter-name>
  	<filter-class>fr.pizzeria.admin.web.AuthFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>TimeCounter</filter-name>
  	<filter-class>TimeCounter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TimeCounter</filter-name>
  	<url-pattern>/TimeCounter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>PizzaServletWebApi</servlet-name>
  	<servlet-class>fr.pizzeria.admin.web.PizzaServletWebApi</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListerPizzaController</servlet-name>
  	<servlet-class>fr.pizzeria.admin.web.ListerPizzaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditerPizzaController</servlet-name>
  	<servlet-class>fr.pizzeria.admin.web.EditerPizzaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthController</servlet-name>
  	<servlet-class>fr.pizzeria.admin.web.AuthController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupprPizzaController</servlet-name>
  	<servlet-class>SupprPizzaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Testhippo</servlet-name>
  	<display-name>Testhippo</display-name>
  	<description></description>
  	<servlet-class>fr.pizzeria.admin.web.Testhippo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PizzaServletWebApi</servlet-name>
  	<url-pattern>/api/servlet/pizzas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListerPizzaController</servlet-name>
  	<url-pattern>/tespizzas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditerPizzaController</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupprPizzaController</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Testhippo</servlet-name>
  	<url-pattern>/Testhippo</url-pattern>
  </servlet-mapping>
</web-app>
